button{
    width:320px;
    height: 16.9rem;
    cursor: pointer;
    border-radius: 12px;
    border:none;
    box-shadow: 0 2px 20px rgb(0 0 0 / 12%), 0 20px 20px -10px rgb(0 0 0 / 13%);
    background-color: white;
    transition: all 0.5s;
    margin: 18px 25px 22px 25px;
    padding:0px
}

button:focus{
    outline:none
}

button:hover{
    transform: scale(1.05); 
}

.figure{
    width: 319.5px;
    height: 69%;
    margin: -38px 0px 0px 0px;
    border-radius:12px 12px 0px 0px ;
    
}

.colorbar{
    position: relative;
    top: 30px;
    height:10.5px;
    border-radius:0px 0px 12px 12px;
}